services:
  web:
    image: odoo:latest
    depends_on:
      - db
    ports:
      - "8069:8069"
    volumes:
      - odoo-web:/var/lib/odoo/
      - odoo-db:/var/lib/postgres/data/
  db:
    image: postgres:latest
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_PASSWORD=odoo
      - POSTGRES_USER=odoo
    volumes:
      - odoo-db:/var/lib/postgres/data/

volumes:
  odoo-web:
  odoo-db:
